extends ../layout

block content
	h1.
		Blob ID #{blob._id}
	form(action='/blobs/#{blob._id}/edit',method='post',name='updateblob',enctype='application/x-www-form-urlencoded')
		p Name:
			input#inputName(type='text', value='#{blob.name}', name='name')
		p Src:
			input#inputBadge(type='text', value='#{blob.src}', name='src')
	
		p Is_deleted ?:
			input#Is_deleted(type='checkbox', name='is_deleted', checked=('#{blob.is_deleted}'==='true' ? "checked" : undefined))
		p
			input(type='hidden',value='PUT',name='_method')
		p
			button#btnSubmit(type='submit').
				Update